* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
$tabletSize: 950px;
$boxShadow: 0 2px 1px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
@mixin mediaQuery {
  @media (max-width: #{$tabletSize}) {
    @content;
  }
}

@mixin display-flex-justify-center {
  display: flex;
  flex-flow: row;
}

body {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  font: 500 1.1rem/1.6 "montserat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font: 500 1.1rem/1.6 "montserat", sans-serif;
  opacity: 0.7;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
li {
  list-style-type: none;
  letter-spacing: 0.06rem;
  font-size: 14px;
}
p {
  color: rgb(48, 47, 47);
}

.logo-container {
  img {
    width: 50px;
    height: 60px;
  }
}
.container {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
}
nav {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 14px;
    color: black;
    position: relative;
  }
  ul {
    margin: 0 1rem;
  }

  a::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgb(29, 29, 29);
    transition: 0.3s ease-in-out;
  }
  a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
}
li {
  display: flex;
}
.links {
  align-items: center;
  display: flex;
  transition: 0.3s ease-in-out;
}
@include mediaQuery {
  width: 100%;
  height: max-content;

  .links {
    display: none;
  }
}

main {
  width: 100%;
  margin: 0 auto;

  .projectGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-auto-rows: minmax(410px, auto);

    .box {
      width: 100%;
      cursor: pointer;

      overflow: hidden;
      transition: 0.5 s ease-in-out infinite;
      position: relative;
      background-color: rgb(58, 68, 116);
      @include mediaQuery {
        grid-row: span 1;
        img {
          width: 36%;
        }
      }
      .calenderHover {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        place-items: center;
        opacity: 0;
        img {
          width: 90%;
        }
      }
      .overlay {
        background-color: inherit;
        width: 100%;
        height: 100%;
        position: relative;
      }
      &:hover .overlay {
        filter: brightness(30%);
        transition: 0.4s ease-in-out;
      }
      &:hover .content {
        filter: brightness(30%);
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
      }
      .shorten {
        width: 70%;
      }
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        color: black;
        opacity: 1;
        justify-content: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .topCorner {
          top: 150px;
        }
      }
    }

    .large {
      background-color: #fee600;

      grid-column: span 2;
      grid-row: span 2;

      @include mediaQuery {
        grid-column: span 1;
        grid-row: span 1;
      }

      &::before {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        content: "Early Projects";
        position: absolute;
        top: 5%;
        left: 0;
        z-index: 1;
        padding: 1rem;
        color: white;
        background-color: black;
      }
    }
    .medium {
      background-color: #2082c9;
      grid-column: span 1;
      grid-row: span 2;
      @include mediaQuery {
        grid-row: span 1;
      }
    }

    .black {
      background-color: black;
      img {
        width: 20%;
      }
    }
    .white {
      background-color: #f8f8f8;
    }
  }
}
.aboutMeSection {
  padding: 6rem 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  .btn {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    padding: 1rem;
    margin: 0.5rem;
    font-family: inherit;
  }

  .intro {
    font: 1000 3em/1.1 "montserat", sans-serif;
  }

  p {
    text-transform: initial;
    max-width: 39rem;
    line-height: 1.3;
  }
  .aboutMe {
    padding: 5rem 2rem;

    position: relative;
  }
  .graphicAnimation {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      min-width: 500px;
    }
  }
  // &::before {
  //   content: "CREATE. DESIGN. ENGAGE. SURPRISE";
  //   position: absolute;
  //   font: 1000 10rem/0.9 "montserat", sans-serif;
  //   width: 100%;
  //   max-width: 1000px;
  //   left: -1rem;
  //   z-index: -1;
  //   opacity: 0.34;
  //   overflow: hidden;
  // }
}
section {
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .programmingLangContainer {
      display: grid;
      width: 95%;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      padding: 3rem 0;
      gap: 0.5rem;
      img {
        width: 45%;
        max-width: 100px;
      }
      .content {
        display: grid;
        width: 100%;
        place-items: center;
        .progressBar {
          margin: 2rem 0;
          width: 70%;
          height: 2rem;
          border-radius: 1rem;

          overflow: hidden;

          .progressHtml {
            width: 95%;
            background-color: orangered;
            height: 100%;
            display: grid;
            place-items: center;
          }
          .progressCss {
            width: 90%;
            background-color: blue;
            height: 100%;
            display: grid;
            place-items: center;
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  padding: 7rem 5rem;
  background-color: black;
  color: white;

  @include display-flex-justify-center;
  justify-content: space-evenly;
  li {
    flex-flow: column;
    ul {
      margin: 0.3rem 0;
      &:nth-child(1) {
        opacity: 0.3;
      }
    }
  }
  @include mediaQuery {
    text-align: center;
    flex-flow: column;
  }
}
