* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$tabletSize: 950px;
$mobileSize: 400px;
$smallMobileSize: 300px;
$boxShadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
  0 30px 60px -30px rgba(0, 0, 0, 0.3),
  inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);

@mixin mediaQuery {
  @media (max-width: #{$tabletSize}) {
    @content;
  }
}
@mixin mediaQueryMobile {
  @media (max-width: #{mobileSize}) {
    @content;
  }
}
@mixin mediaQueryMobileSmall {
  @media (max-width: #{smallMobileSize}) {
    @content;
  }
}
@mixin display-flex-justify-center {
  display: flex;
  flex-flow: row;
}

body {
  font-weight: bold;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  // background-color: #e8e9ee;
  background-color: #fff;
  font: 500 1.1rem/1.6 "montserat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font: 500 1.1rem/1.6 "montserat", sans-serif;
  opacity: 0.7;
  margin: 2rem 0;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  font: 800 2rem "montserat", sans-serif;
}
p {
  color: #425466;
}

.logo-container {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    object-fit: contain;
  }
}
.wrapper {
  max-width: 75%;
  margin: 0 auto;
  width: 90%;
}
.container {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
}
nav {
  width: 100%;
  overflow: hidden;
  display: flex;

  .mobileNavigation {
    padding: 1.5rem;
    transition: 0.2s ease-in;
    position: absolute;
    width: 92%;
    top: 1rem;
    left: 50%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
    border-radius: 0.5rem;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    display: none;
    @include mediaQuery() {
      display: none;
    }
    .closeIcon {
      float: right;

      img {
        float: right;
        width: 12px;
      }
    }
    .mobileNavigationLinks {
      li {
        display: flex;
        flex-direction: column;
      }
      ul {
        justify-content: center;
        display: flex;
        padding: 1rem 0;
        img {
          margin: 0 1rem;
        }
      }
    }
  }
  .hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in;
    @include mediaQuery {
      display: none;
    }
  }
  .active {
    display: block;
    transition: opacity 0.2s ease-in;
    opacity: 1;
  }
  .bars {
    position: relative;
    display: none;
    .icon {
      display: flex;
      align-items: center;
      height: 100%;
    }
    @include mediaQuery {
      display: block;
    }
  }
  .navAnimateOut {
    margin: 0 2rem;

    transition: transform ease-in-out 0.6s;
  }

  ul {
    position: relative;
  }
  ul:hover .navAnimateOut {
    cursor: pointer;
    transform: translateY(-110px);
  }
  ul:hover .navAnimateIn {
    cursor: pointer;
    transform: translate(-50%, 0px);
  }
  .navAnimateIn {
    transition: transform ease-in-out 0.4s;
    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, 25px);
  }
  img {
    width: 24px;
    object-fit: contain;
    &:hover {
      cursor: pointer;
    }
  }
  .nav-list {
    margin: 0 auto;
    position: relative;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
  }
  a {
    font-size: 14px;
    color: black;
    position: relative;
  }
  ul {
    margin: 0 1rem;
  }

  a::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgb(29, 29, 29);
    transition: 0.3s ease-in-out;
  }
  a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
}
li {
  display: flex;
}
.links {
  align-self: center;
  align-items: center;
  display: flex;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  height: max-content;
  @include mediaQuery {
    display: none;
  }
}
@include mediaQuery {
  width: 100%;
  height: max-content;

  .links {
    display: none;
  }
}

main {
  width: 100%;
  margin: 0 auto;

  .projectGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 0.3rem;
    padding: 0.3rem;
    @include mediaQuery() {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .box {
      width: 100%;
      background-color: #fff;
      box-shadow: $boxShadow;

      cursor: pointer;
      border-radius: 0.7rem;
      overflow: hidden;
      transition: 0.5 s ease-in-out infinite;
      position: relative;
      background-color: rgb(58, 68, 116);
      @include mediaQuery {
        grid-row: span 1;
        img {
          width: 36%;
        }
      }
      .calenderHover {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        place-items: center;
        opacity: 0;
        img {
          width: 90%;
        }
      }
      .overlay {
        background-color: inherit;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .bottom-content {
        position: absolute;
        z-index: 1;
        bottom: 0rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;

        color: white;
        font-weight: 400;
        padding: 1rem;
        letter-spacing: 1px;
        font-size: 14px;
        display: flex;
        div {
          margin-right: 0.5rem;
          display: flex;
          align-items: center;
        }
        img {
          width: 26px;
          object-fit: contain;
        }
      }
      &:hover .overlay {
        filter: brightness(30%);
        transition: 0.4s ease-in-out;
      }
      &:hover .bottom-content {
        color: white;
      }
      &:hover .content {
        filter: brightness(30%);
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
      }
      .shorten {
        width: 70%;
      }
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        color: black;
        opacity: 1;
        justify-content: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .topCorner {
          top: 150px;
        }
      }
    }

    .large {
      background-color: #fee600;
      grid-column: span 2;
      grid-row: span 2;

      @include mediaQuery {
        grid-column: span 1;
        grid-row: span 1;
      }

      &::before {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        content: "Early Projects";
        position: absolute;
        top: 5%;
        left: 0;
        z-index: 1;
        padding: 1rem;
        color: white;
        background-color: black;
      }
    }
    .medium {
      background-color: #2082c9;
      grid-column: span 1;
      grid-row: span 2;
      @include mediaQuery {
        grid-row: span 1;
      }
    }
    .red {
      background-color: #df535e;
    }
    .black {
      background-color: black;
      img {
        width: 20%;
      }
    }
    .white {
      background-color: #f8f8f8;
    }
  }
}
.aboutMeSection {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  justify-content: center;
  padding: 9rem 0rem;
  .btn {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    padding: 1rem;
    margin: 0.5rem;
    font-family: inherit;
  }
  .content-left {
    max-width: 540px;
    width: 100%;
  }
  .intro {
    font: 800 5em/1 "montserat", sans-serif;
    &::selection {
      background-color: transparent;
    }
    @include mediaQuery {
      font: 800 3rem/1 "montserat", sans-serif;
    }
  }

  .paragraph {
    text-transform: initial;
    line-height: 1.3;
  }

  .graphicAnimation {
    display: flex;
    max-width: 540px;

    justify-content: center;
    position: relative;
    img {
      float: right;
      width: 90%;
      object-fit: contain;
    }
    .polygon {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      background-color: green;
      width: 45px;
      height: 48px;
      position: absolute;
    }
  }
  // &::before {
  //   content: "CREATE. DESIGN. ENGAGE. SURPRISE";
  //   position: absolute;
  //   font: 1000 10rem/0.9 "montserat", sans-serif;
  //   width: 100%;
  //   max-width: 1000px;
  //   left: -1rem;
  //   z-index: -1;
  //   opacity: 0.34;
  //   overflow: hidden;
  // }
}
section {
  .container {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .programmingLangContainer {
      display: grid;
      width: 95%;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      padding: 3rem 0;

      gap: 0.5rem;
      img {
        width: 45%;
        max-width: 100px;
      }
      .content {
        display: grid;
        width: 100%;
        place-items: center;
        .progressBar {
          margin: 2rem 0;
          width: 70%;
          height: 2rem;
          border-radius: 1rem;

          overflow: hidden;

          .progressHtml {
            width: 95%;
            background-color: orangered;
            height: 100%;
            display: grid;
            place-items: center;
          }
          .progressCss {
            width: 90%;
            background-color: blue;
            height: 100%;
            display: grid;
            place-items: center;
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;

  .footer-content {
    max-width: 800px;
    padding: 7rem 0;
    @include display-flex-justify-center;
    justify-content: space-between;

    li {
      font: 400 1rem "montserat", sans-serif;

      flex-flow: column;
      ul {
        margin: 0.3rem 0;

        opacity: 0.4;
        &:nth-child(1) {
          opacity: 1;
        }
      }
    }
    @include mediaQuery {
      text-align: center;
      flex-flow: column;
    }
    .socialMedia {
      margin: 2rem 0;
    }
  }
}
